.card {
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
}

.card__image {
  max-width: 470px;
  width: 100%;
  height: auto;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.card__body {
  padding: 20px;
}

.item__title {
  font-weight: 600;
}

.body__title {
  margin: 0 0 10px 0;
}

.body__item {
  margin: 5px 0;
}
